/* CSS Personnalisé pour l'outil BE  */

.outil_be {
  padding: 10px;
  /* margin: auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.formulaire {
  max-width: 700px;
}

.affichage {
  max-width: 1250px;
}

.outil_be table {
  margin: 0;
}

.debit_cellule {
  border-right-color: white;
}

.choix td {
  padding: 5px;
  text-align: center;
}

.choix .entete_table {
  font-weight: bold;
}

#casiers_metres, .unite_mesures {
  font-style: italic;
}

.mesures {
  text-align: left !important;
  font-weight: bold;
}

.profi {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.premax {
  background-color: black;
  color: white;
  font-weight: bold;
}

.donnees_techniques td {
  border: 1px solid black;
  padding: 5px;
}

.titre_tableau {
  font-weight: bold;
}

.champ_outil {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin-bottom: 20px;
}

#donnes_premax, #prix_premax {
  display: none;
}